body {
    font-family: 'Merriweather Sans', 'sans-serif';
    background-color: rgb(1, 88, 114);
    color: white;
}

.material-symbols-outlined {
    color: red;
}

.container {
    max-width: 60%;
    min-height: 92vh;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(4, 74, 96);
    box-shadow: 0 2px 4px rgb(44, 44, 44);
}

input[type='text'] {
    padding: 10px;
    font-size: 16px;
    width: 70%;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(66, 150, 175);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(44, 44, 44);
    cursor: pointer;
    transition: all .5s ease;
}

button:hover{
    background-color: rgb(50, 115, 135);
}

.responseDataError {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5px;
    margin-top: 20px;
}

.responseData {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.error{
    color: #ff0000;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    margin: 0;
}